@import "base.css";
@import "@/base.css";

#css {
    color: red;
    height: 500px;
    background-color: pink;
    background-image: url(./tang.jpg);
}

.orange {
    color: orange;
}

#root {
    width: 100px;
    height: 100px;
    transform: rotate(45deg);
}